{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/blah.png' %}">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Site</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Article</h2>
        <ul class="articles">
            {% for i in article_info %}
                <li>
                    <img src="{% static 'images/0001.jpg' %}" width="100" height="91">
                    <div class="article-info">
                        <h3><a href="#">{{ i.title }}</a></h3>
                        <p class="meta-info">
                            {% for tag in i.tags %}
                                <span class="meta-cate">{{ tag }}</span>
                            {% endfor %}
                        </p>
                        <p class="description">{{ i.desc }}</p>
                    </div>
                    <div class="rate">
                        <span class="rate-score">{{ i.scores }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-content-pagitor">
        {% if article_info.has_previous %}
        <a href="?page={{ article_info.previous_page_number }}"> < Pre </a>
        {% endif %}
        <span>{{ article_info.number }} of {{ article_info.paginator.num_pages }}</span>
        {% if article_info.has_next %}
            <a href="?page={{ article_info.next_page_number }}"> Next ></a>
        {% endif %}
    </div>
    <div class="footer">
        <p>&copy; Mugglecoding</p>
    </div>
</body>
</html>