{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>A GRID WEB </title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css'%}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
</head>
<body>
<div class="ui sidebar inverted vertical menu left thin">
    <div class="header item">
        <img src="{% static 'images/logo2.png'%}">
    </div>
    <div class="item"> <a href="../new_data/">Document
        <i class="browser icon"></i></a>
    </div>
    <div class="item"><a href="../new_chart/"> Charts
        <i class="bar chart icon"></i></a>
    </div>
    <div class="item"> Others
        <i class="idea icon"></i>
    </div>
</div>
<div class="pusher">
    <div class="ui menu four item">
        <a class="header item" id="menu">
            Menu
            <i class="icon content"></i>
        </a>
        <a class="item" href="../new_data">Documents</a>
        <a class="item" href="../new_chart">Charts</a>
        <a class="item " href="#">Others</a>

    </div>
    {% block content %}

    {% endblock %}

</div>
<script>
    $('#menu').click(function () {
        $('.ui.sidebar')
            .sidebar('toggle')
        ;
    });
</script>
{% block js %}{% endblock %}
</body>
</html>